<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.Localization.PhotoAlbum</title>
    @Styles.Render("~/Content/css/myAlias")
    @Scripts.Render("~/bundles/modernizr/myAlias")
    @Scripts.Render("~/bundles/jquery/myAlias")
    @Scripts.Render("~/bundles/bootstrap/myAlias")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.Localization.AllPhotos, "Index", "Photo", null, new { id = "allPhotosHeaderLink"})</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink(@Resources.Localization.MyPhotos, "manage", User.Identity.Name, null, new { id = "myPhotosHeaderLink" })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Localization.PhotoAlbum</p>
        </footer>
    </div>

    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
</body>
</html>
