@using Microsoft.AspNet.Identity
@using Resources;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", 
                          "Account", 
                          FormMethod.Post, 
                          new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="dropdown">
            <div class="dropbtn">@User.Identity.Name <span class="glyphicon glyphicon-triangle-bottom"></span></div>
            <div class="dropdown-content">
                @Html.ActionLink(Resources.Localization.UserProfile,
                                     "profile",
                                     User.Identity.Name,
                                     routeValues: null,
                                     htmlAttributes: new { title = "User profile" })
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    @Localization.LogOff
                </a>
            </div>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Localization.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.Localization.Log_In, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
