@using Microsoft.AspNet.Identity
@using Resources;
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", 
                          "Account", 
                          FormMethod.Post, 
                          new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    
        <li class="nav navbar-nav">
            <a href="#" id="dropDownMenuHeader" class="btn navbar-btn dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <span class="glyphicon glyphicon-triangle-bottom"></span></a>
            <ul id="userDropDownMenu" class="dropdown-menu" role="menu">
                <li>
                    @Html.ActionLink(Resources.Localization.UserProfile,
                                     "profile",
                                     User.Identity.Name,
                                     routeValues: null,
                                     htmlAttributes: new { title = "User profile", @class = "userDropDownMenuItems" })
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="userDropDownMenuItems">
                        @Localization.LogOff
                    </a>
                </li>
            </ul>
        </li>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Localization.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.Localization.Log_In, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
