@model PhotoAlbum.Client.Models.CreatePhotoViewModel

@using (Html.BeginForm("CreatePhoto", 
                       "Photo", 
                       new { @returnUrl = ViewBag.ReturnUrl }, 
                       FormMethod.Post, 
                       new { enctype = "multipart/form-data", id = "formForModal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">@Resources.ResourceEN.SelectFile</div>
        <div class="editor-field">
            <input type="file" name="Image" id="photoInput" />
        </div>
        @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
        <br/>

        <div class="editor-label">@Resources.ResourceEN.Title</div>
        <div class="editor-field">
            <input type="text" name="Title" value="@Model.Title" />
        </div>
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        <br />

        <div class="editor-label">@Resources.ResourceEN.Description</div>
        <div class="editor-field">
            <textarea name="Description">@Model.Description</textarea>
        </div>
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        <br />

        <p>
            <input type="submit" name="submit" class="btn btn-primary btn-large" value="@Resources.ResourceEN.Save" />
        </p>

    </fieldset>
}