@model PhotoAlbum.Client.Models.CreatePhotoViewModel

@{
    ViewBag.Title = "CreatePhoto";
}

@using (Html.BeginForm("CreatePhoto", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">@Resources.ResourceEN.SelectFile</div>
        <div class="editor-field">
            <input type="file" name="Image" />
        </div>

        <div class="editor-label">@Resources.ResourceEN.Title</div>
        <div class="editor-field">
            <input type="text" name="Title" />
        </div>

        <div class="editor-label">@Resources.ResourceEN.Description</div>
        <div class="editor-field">
            <input type="text" name="Description" />
        </div>

        <p>
            <input type="submit" value="@Resources.ResourceEN.Save" />
        </p>
    </fieldset>
}