@model PhotoAlbum.Client.Models.EditPhotoViewModel

@using (Html.BeginForm("EditPhoto", "Photo", new { @returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", id = "formForModal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>

        <div class="editor-label">@Resources.ResourceEN.Title</div>
        <div class="editor-field">
            <input type="text" name="Title" value="@Model.Title" />
        </div>
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        <br/>

        <div class="editor-label">@Resources.ResourceEN.Description</div>
        <div class="editor-field">
            <textarea name="Description">@Model.Description</textarea>
        </div>
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        <br />

        <p>
            <input type="submit" class="dialog-window btn btn-primary btn-large" value="@Resources.ResourceEN.Save" />
            @*<a href="@ViewBag.ReturnUrl" class="btn btn-primary btn-large">@Resources.ResourceEN.Cancel</a>*@
            <button type="button" class="btn btn-primary btn-large" data-dismiss="modal">@Resources.ResourceEN.Cancel</button>
        </p>
    </fieldset>
}