@model PhotoAlbum.Client.Models.EditPhotoViewModel

@{
    Layout = null;
}

@{
    ViewBag.Title = "EditPhoto";
}

@using (Html.BeginForm("EditPhoto", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>

        <div class="editor-label">@Resources.ResourceEN.Title</div>
        <div class="editor-field">
            <input type="text" name="Title" value="@Model.Title" />
        </div>

        <div class="editor-label">@Resources.ResourceEN.Description</div>
        <div class="editor-field">
            <input type="text" name="Description" value="@Model.Description" />
        </div>

        <p>
            <input type="submit" value="@Resources.ResourceEN.Save" />
        </p>
    </fieldset>
}