@model PhotoAlbum.Client.Models.EditPhotoViewModel

@using Resources

@using (Html.BeginForm("EditPhoto", 
                       "Photo", 
                       new { @returnUrl = ViewBag.ReturnUrl }, 
                       FormMethod.Post, 
                       new { enctype = "multipart/form-data", id = "formForModal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">@Localization.Title</div>
        <div class="editor-field">
            <input type="text" name="Title" value="@Model.Title" class="photoTitleInput" />
        </div>
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        <br/>

        <div class="editor-label">@Localization.Description</div>
        <div class="editor-field">
            <textarea name="Description" class="photoDescriptionTextarea">@Model.Description</textarea>
        </div>
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        <br />

        <p>
            <input type="submit" class="dialog-window btn btn-primary btn-large" value="@Localization.Save" formtarget="_parent" />
        </p>

    </fieldset>
}